<div class="container">
  <div class="starting txt">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <button class="btn">Start Now</button>
  </div>
  <div class="img one"></div>
</div>
<div class="container">
  <div class="info txt">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <button class="btn">More Info</button>
  </div>
  <img class="img two" />
</div>
<div class="container">
  <div class="subscribe txt">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iusto
      repudiandae fugit tenetur consectetur delectus voluptatem omnis
      accusantium doloribus neque!
    </p>
    <button class="btn">Subscribe</button>
  </div>
  <div class="img three"></div>
</div>
