<section class="customer-details">
  <section class="cocktail" *ngIf="cocktail">
    <div
      class="cocktail-background"
      [style.backgroundImage]="'url(' + cocktail.img + ')'"
    ></div>
    <cocktail-recipe [cocktail]="cocktail" />
  </section>
  <section class="customer" *ngIf="customer">
    <button class="btn-back btn" (click)="onBack()">Back</button>
    <section class="customer-info">
      <div class="customer-avatar">
        <img
          src="https://api.dicebear.com/6.x/micah/svg?seed={{ customer._id }}"
        />
        <h3>{{ customer.name }}</h3>
      </div>
      <table class="customer-drinks">
        <tbody>
          <tr>
            <td>Spirit</td>
            <td>{{ customer.spirit }}</td>
          </tr>
          <tr>
            <td>Cocktail</td>
            <td>{{ customer.cocktail }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- <section class="paging" hidden>
      <a routerLink="/customer/{{ customer._id }}" class="btn" >Prev</a>
      <a routerLink="/customer/{{ customer._id }}" class="btn" >Next</a>
    </section> -->
  </section>
</section>
